body {
  margin: 0;
  padding: 0;
  background-color: #02020e;
  overflow-x: hidden;
}

a {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

td {
  font-family: "Montserrat", sans-serif;
}

input {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

button{
  font-family: "Montserrat", sans-serif;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}